@charset "UTF-8";

  .reply {
        margin-left: 30px;
      }
      .qna {
        padding-top: 0px;
        padding-bottom: 30px;
        margin-top: -10px;
      }
      .qna-write {
        padding-bottom: 0px;
        margin-top: -60px;
      }
      .reply-section {
      	padding-bottom: 0px;
      	padding-top: 40px;
      }
      .comment-title {
        color: black; 
      }
      .comment-body {
        margin-left: -20px;
      }
      .reply-container {
        padding: 10px 0px 10px 0px ;
        border-top: 1px solid gray;
      }
      .reply-flag {
        background: rgb(247, 247, 247);
      }
      .back, .delete {
        margin-top: 0px;
      }
      .btn-function {
        margin-top: 80px;
        margin-bottom: -50px;
        float: right;
      }
      .btn-function button {
        min-width: 100px;
      }
      .comment-time {
      	margin-left: 10px;
      }
      .replyicon {
     	position: relative;
      	float: left;
     	margin-right: -10px;
      }
      .rcontainer-type2 {
      	background-color: #f9f9f9; 
      }
      .btn-reply, .btn-reply-modify, .btn-reply-delete {
      	padding: 1px 2px;
      	border-radius: 2px;
      }
      #myModal, #deleteModal {
      	margin-top: 100px;
      }
      .tarea-reply {
      	width: -webkit-fill-available;
      	resize: none;
      }
      .send-comment {
      	margin-top: -20px;
      }
       #set-range {
      	margin-top: 15px;
      }
      #reply-list {
      	margin-top: 30px;
      }
      #writeReply {
      	margin-top: 0px;
      	margin-bottom: 50px;
      }
      .section-write {
      	padding-top: 0px;
      	padding-bottom: 0px;
      }
      .pagination > li > a {
      	color: black;
      }
      .pagination > li.active > a {
      	background-color: #dddddd;
      	border-color: #dddddd;
      	color: black;
      }
      .pagination > li.active > a:hover {
      	background-color: #c0c0c0;
      	border-color: #c0c0c0;
      }
      #emptyList {
      	margin-top: 15px;
      	border-top: 1px solid gray;
      	padding-top: 10px;
      }
      #questions {
      	margin-bottom: -5px;
      }