@charset "UTF-8";

/* payment 뷰 */
.jjh-postCodeSearchBtn {
	margin-top: 28px;
}

.jji-select {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.jjh-proInfo{
	color: rgb(70, 70, 70);
}

.jjh-autoLoginCheck{
	margin-left: 10px;
}