@charset "UTF-8";
/* payment 뷰 */
.jjh-postCodeSearchBtn {
	margin-top: 28px;
}

.jji-select {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.jjh-proInfo {
	color: rgb(70, 70, 70);
}

/* 로그인 페이지 뷰 */
.jjh-autoLoginCheck {
	margin-left: 10px;
}

/* preparing-auction 뷰 */
.jjh-listButton {
	position: relative;
	display: inline-block;
	max-width: 100%;
	padding: 9px 30px;
	min-width: 100px;
	font-family: "Oswald", Helvetica, Arial, sans-serif;
	font-weight: 400;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	border: 2px solid;
	border-radius: 35px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	transition: .25s all ease;
	white-space: pre-wrap;
}

.product-counter-inner .jjh-counter {
	font-weight: 400;
	color: #fff;
}

@media (min-width: 1200px) {
	.product-counter-inner .jjh-counter {
		font-size: 20px;
	}
}

.jjh-favoriteButton {
	width:25%;
	height:25%;
	border: none;
	background: none;
}

/* .jjh-newButton{
	margin-left: 500px;
} */

/* ongoing-auction 뷰*/
.jjh-top {
	font-size:60px;
	text-align: center;
	vertical-align: middle;
	height:96px;
	background: rgb(243, 246, 253);
}

.jjh-topCounter {
	font-size: 65px;
}

.jjh-fixed {
	 position: fixed;
     top: 200px;
}
        
.jjh-price {
    align-items: center;
    justify-content: space-around;
}

.jjh-currentPrice {
	color: red;
}

/* finished-auction 뷰 */
.jjh-inner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 15px;
    background-color: rgb(157, 157, 161);
    border-radius: 9px 9px 0 0;
}

.jjh-finished {
	-webkit-filter: grayscale(100%);
	filter: gray;
}

/* 헤더에 검색 박스 수정 */
.search-box {
	width: 1000px;
}

.jjh-pageLoader{
	margin-left:515px;
}

.jjh-blanck {
	width:200px;	
	margin-right : 500px;
}

.jjh-newbuttion{
	 width:200px;
	 /* margin-right:500px; */
}

.jjh-notSuccess{
	color:rgb(130, 130, 130);
}

.jjh-time{
	size: 25px;
	color:black;
	border: 3px solid #ff3366;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.jjh-emptyList {
	margin-left: 385px;
	color: rgb(255, 51, 102);
}

.jjh-image {
	max-width: 331;
	max-height: 245;
}

#selectBox {
	width : 130px;
	height : 55px;	
}

#auction-array {
	float:left;
	width:130px;
	height:30px;
	border: none;
	background: rgb(243, 246, 253);
}

.jjh-headerNav{
	display: inline-block; 
	width: 100%;
}

.jjh-headerLi{
	display: inline-block; 
	margin-left: 485px;
}

.jjh-userHeader{
	display: inline-block; 
	margin-left: 100px;
}
.jjh-userUl{
	width: 400px;
	display: inline-block;
}

.jjh-userLi{
	width:100px;
	display: inline-block;
}

#cannotSearch {
	border-radius: 5px;
	text-align:center;
	/* margin-left: 60px; */
	margin-top: 70px; 
	vertical-align: middel;
}

.jjh-modalTitle {
	color: rgb(255, 51, 102);
}

.jjh-modalMessage {
	font-family: 'Nanum Gothic Coding', monospace;
}

.jjh-close {
	background: none;
	border:1px solid rgb(130, 130, 130);
}

.jjh-mainImg {
	height:160px;
}

.jjh-mainAuction {
	max-width: 300px; 
	margin-left: 70px;"
}

@media (min-width: 768px) {
	[class*='box-auction-minimal-'] .jjh-fontsize {
		font-size: 17px;
	}