@charset "UTF-8";

/* payment 뷰 */
.jjh-postCodeSearchBtn {
	margin-top: 28px;
}

.jji-select {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.jjh-proInfo{
	color: rgb(70, 70, 70);
}

/* 로그인 페이지 뷰 */
.jjh-autoLoginCheck{
	margin-left: 10px;
}

/* 경매상품 리스트 뷰 */
.jjh-listButton{
	position: relative;
	display: inline-block;
	max-width: 100%;
	padding: 9px 30px;
	min-width: 100px;
	font-family: "Oswald", Helvetica, Arial, sans-serif;
	font-weight: 400;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	border: 2px solid;
	border-radius: 35px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	transition: .25s all ease;
	white-space: pre-wrap;
}

.jjh-asideLocation{
}

