<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Services</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald:200,400%7CLato:300,400,300italic,700%7CMontserrat:900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mdi.css">
    <link rel="stylesheet" href="css/fl-bigmug-line.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]--> 
  </head>
  <body>
    <!-- Page preloader-->
    <div class="page-loader">
      <div class="page-loader-body">
        <div class="preloader-wrapper big active"> 
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"> </div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"> </div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-yellow"> 
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"> </div>
            </div>
          </div>
          <div class="spinner-layer spinner-green"> 
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap rd-navbar-shop-header">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="100px" data-lg-stick-up-offset="150px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-top-panel">
              <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li><a href="index.html">Home</a>
                  </li>
                  <li><a href="about-us.html">About Us</a>
                  </li>
                  <li class="active"><a href="#">Services</a>
                    <!-- RD Navbar Dropdown-->
                    <ul class="rd-navbar-dropdown">
                      <li><a href="services.html">Services</a>
                      </li>
                      <li><a href="single-service.html">Single Service</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#">Gallery</a>
                    <!-- RD Navbar Dropdown-->
                    <ul class="rd-navbar-dropdown">
                      <li><a href="grid-album-gallery.html">Grid Album Gallery</a>
                      </li>
                      <li><a href="fullwidth-gallery-inside-title.html">Fullwidth Gallery Inside Title</a>
                      </li>
                      <li><a href="grid-gallery-outside-title.html">Grid Gallery Outside Title</a>
                      </li>
                      <li><a href="masonry-gallery-outside-title.html">Masonry Gallery Outside Title</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#">Blog</a>
                    <!-- RD Navbar Dropdown-->
                    <ul class="rd-navbar-dropdown">
                      <li><a href="classic-blog.html">Classic Blog</a>
                      </li>
                      <li><a href="grid-blog.html">Grid Blog</a>
                      </li>
                      <li><a href="masonry-blog.html">Masonry Blog</a>
                      </li>
                      <li><a href="modern-blog.html">Modern Blog</a>
                      </li>
                      <li><a href="audio-post.html">Audio Post</a>
                      </li>
                      <li><a href="image-post.html">Image Post</a>
                      </li>
                      <li><a href="single-post.html">Single Post</a>
                      </li>
                      <li><a href="video-post.html">Video Post</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#">Shop</a>
                    <!-- RD Navbar Dropdown-->
                    <ul class="rd-navbar-dropdown">
                      <li><a href="checkout.html">Checkout</a>
                      </li>
                      <li><a href="product-page.html">Product Page</a>
                      </li>
                      <li><a href="shop-3-columns-layout.html">Shop 3 Columns Layout</a>
                      </li>
                      <li><a href="shopping-cart.html">Shopping Cart</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#">Pages</a>
                    <!-- RD Navbar Megamenu-->
                    <ul class="rd-navbar-megamenu rd-navbar-megamenu-banner">
                      <li><img src="images/accordions-1-570x600.jpg" alt="" width="570" height="600"/>
                      </li>
                      <li>
                        <ul class="rd-megamenu-list">
                          <li><a href="404-page.html">404 Page</a></li>
                          <li><a href="503-page.html">503 Page</a></li>
                          <li><a href="careers.html">Careers</a></li>
                          <li><a href="single-job.html">Single Job</a></li>
                          <li><a href="coming-soon.html">Coming Soon</a></li>
                          <li><a href="pricing.html">Pricing</a></li>
                          <li><a href="tooltips.html">Tooltips</a></li>
                        </ul>
                      </li>
                      <li>
                        <ul class="rd-megamenu-list">
                          <li><a href="our-history.html">Our History</a></li>
                          <li><a href="login-page.html">Login Page</a></li>
                          <li><a href="registration-page.html">Registration Page</a></li>
                          <li><a href="search-results.html">Search Results</a></li>
                          <li><a href="under-construction.html">Under Construction</a></li>
                          <li><a href="privacy-policy.html">Privacy policy</a></li>
                        </ul>
                      </li>
                      <li>
                        <ul class="rd-megamenu-list">
                          <li><a href="accordions.html">Accordions</a></li>
                          <li><a href="countdown.html">Countdown</a></li>
                          <li><a href="forms.html">Forms</a></li>
                          <li><a href="grid-system.html">Grid System</a></li>
                          <li><a href="tables.html">Tables</a></li>
                          <li><a href="tabs.html">Tabs</a></li>
                          <li><a href="typography.html">Typography</a></li>
                          <li><a href="radials.html">Radials</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="contacts.html">Contacts</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img class="logo-default" src="images/logo-default-173x55.png" alt="" width="173" height="55"/><img class="logo-inverse" src="images/logo-inverse-173x55.png" alt="" width="173" height="55"/></a></div>
              </div>
              <div class="rd-navbar-aside-center">
                <!-- RD Navbar Search-->
                <div class="rd-navbar-search"><a class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search" href="#"><span></span></a>
                  <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                    <div class="rd-mailform-inline rd-mailform-sm rd-mailform-inline-modern">
                      <div class="rd-mailform-inline-inner">
                        <div class="form-wrap form-wrap-icon mdi-magnify">
                          <label class="form-label form-label" for="rd-navbar-search-form-input">Search...</label>
                          <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off"/>
                          <div class="rd-search-results-live"></div>
                        </div>
                        <button class="rd-search-form-submit rd-search-form-submit-icon mdi mdi-magnify"></button>
                        <button class="rd-search-form-submit button form-button button-sm button-secondary">search</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="rd-navbar-aside-right">
                <div class="rd-navbar-shop"><a class="rd-navbar-shop-icon mdi mdi-cart" href="shopping-cart.html"><span>2</span></a></div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom breadcrumbs-custom-svg bg-gradient breadcrumbs-background-01">
        <div class="shell">
          <p class="breadcrumbs-custom-subtitle">What We Do</p>
          <p class="heading-1 breadcrumbs-custom-title">Services</p>
          <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Services</a></li>
            <li class="active">Services 2</li>
          </ul>
        </div>
      </section>

      <!-- a few words about us-->
      <section class="section section-lg text-center text-sm-left bg-white">
        <div class="shell shell-bigger">
          <div class="range range-ten range-50 range-sm-center range-lg-justify">
            <div class="cell-sm-5 cell-lg-4">
              <div class="box-range-content">
                <h3>who we are</h3>
                <div class="divider divider-default"></div>
                <p class="heading-5">Since launching in 2006, Online Auction has been recognized as the go-to online auction marketplace for new, overstock, closeout and recertified products.</p>
                <p class="text-spacing-sm">We specialize in offering the best deals on popular, everyday items from watches to laptops, and sports memorabilia from trusted and certified vendors and merchants, directly to our customers in auction, fixed-price and "Deals of the Day" formats.</p><a class="button button-default-outline" href="about-us.html">learn more</a>
              </div>
            </div>
            <div class="cell-sm-5"><img src="images/services-5-720x459.jpg" alt="" width="720" height="459"/>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-lg text-center bg-gray-lighter">
        <div class="shell-wide">
          <h3>what we offer</h3>
          <div class="divider divider-default"></div>
          <div class="range range-50 range-xs-center">
            <div class="cell-xs-10 cell-sm-6 cell-lg-3">
              <article class="box-minimal-modern">
                <div class="box-minimal-icon mdi mdi-account"></div>
                <h6 class="box-minimal-title">easy registration</h6>
                <div class="box-minimal-text">To start using our auction, you’ll need to register. It’s completely free! After a few simple steps you will become a rightful member of Online Auction community.</div>
              </article>
            </div>
            <div class="cell-xs-10 cell-sm-6 cell-lg-3">
              <article class="box-minimal-modern">
                <div class="box-minimal-icon mdi mdi-cash-multiple"></div>
                <h6 class="box-minimal-title">Buy or Bid</h6>
                <div class="box-minimal-text">You can instantly buy or place a bid on a desired product right after the registration. This allows you to use any auction or create your own in just a few clicks.</div>
              </article>
            </div>
            <div class="cell-xs-10 cell-sm-6 cell-lg-3">
              <article class="box-minimal-modern">
                <div class="box-minimal-icon mdi mdi-comment-text"></div>
                <h6 class="box-minimal-title">bid submission</h6>
                <div class="box-minimal-text">Submitting a bid is quick and easy. The process takes up to 5 minutes and after that you get instant report from our online auction system about your bid’s status.</div>
              </article>
            </div>
            <div class="cell-xs-10 cell-sm-6 cell-lg-3">
              <article class="box-minimal-modern">
                <div class="box-minimal-icon mdi mdi-dice"></div>
                <h6 class="box-minimal-title">Win any lot</h6>
                <div class="box-minimal-text">Easily win at our auction and enjoy owning the product you dream of. We will organize the delivery of the item you won so you don’t have to care about it.</div>
              </article>
            </div>
            <div class="cell-xs-10 cell-sm-6 cell-lg-3">
              <article class="box-minimal-modern">
                <div class="box-minimal-icon mdi mdi-basket"></div>
                <h6 class="box-minimal-title">free access</h6>
                <div class="box-minimal-text">Unlike some online auctions, we don’t charge any additional fees for placing a bid and we provide our clients with completely free access to all auctions.</div>
              </article>
            </div>
            <div class="cell-xs-10 cell-sm-6 cell-lg-3">
              <article class="box-minimal-modern">
                <div class="box-minimal-icon mdi mdi-lock"></div>
                <h6 class="box-minimal-title">100% Secure Bids</h6>
                <div class="box-minimal-text">We guarantee that every bid placed on our website is safe and secure thanks to the SSL technology, which protects all your entered data and actions performed on our website.</div>
              </article>
            </div>
            <div class="cell-xs-10 cell-sm-6 cell-lg-3">
              <article class="box-minimal-modern">
                <div class="box-minimal-icon mdi mdi-bell"></div>
                <h6 class="box-minimal-title">new Items everyday</h6>
                <div class="box-minimal-text">We daily update our catalog of auctions with new offers from vendors who want to sell their products in a new revolutional way without any third parties and complexities.</div>
              </article>
            </div>
            <div class="cell-xs-10 cell-sm-6 cell-lg-3">
              <article class="box-minimal-modern">
                <div class="box-minimal-icon mdi mdi-headset"></div>
                <h6 class="box-minimal-title">24/7 online support</h6>
                <div class="box-minimal-text">Our support team is always ready to help you solve any question connected with performance of our website. We can reoslve any issue efficiently 24/7.</div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-sm bg-primary">
        <div class="shell">
          <div class="range range-50 range-sm-center">
            <div class="cell-sm-9 cell-md-7 cell-lg-6">
              <h3 class="text-center">NewsLetter</h3>
              <p>Keep up with our always upcoming news, updates, and publications. <br> Enter your e-mail and subscribe to our newsletter.</p>
              <!-- RD Mailform: Subscribe-->
              <form class="rd-mailform rd-mailform-inline rd-mailform-sm rd-mailform-inline-modern" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                <div class="rd-mailform-inline-inner">
                  <div class="form-wrap">
                    <input class="form-input" type="email" name="email" data-constraints="@Email @Required" id="subscribe-form-email-1"/>
                    <label class="form-label" for="subscribe-form-email-1">Enter your e-mail</label>
                  </div>
                  <button class="button form-button button-sm button-secondary" type="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-2-columns bg-white bg-additional-image bg-additional-image-1">
        <div class="shell-custom">
          <div class="range range-sm-center range-md-middle range-lg-left range-0">
            <div class="cell-sm-10 cell-md-6">
              <div class="section-lg">
                <div class="shell-custom-inner">
                  <h3>What people say</h3>
                  <hr class="divider divider-default">
                  <!-- Slick Carousel-->
                  <div class="slider-widget">
                    <div class="slick-slider" id="slick-1" data-arrows="true" data-loop="true" data-dots="false" data-swipe="false" data-items="1" data-custom-arrows="true">
                      <div class="item">
                        <article class="quote-classic">
                          <div class="quote-classic-header"><img class="quote-classic-image" src="images/quote-user-2-210x210.jpg" alt="" width="210" height="210"/>
                            <div class="quote-classic-meta">
                              <p class="quote-classic-cite">Susan Contreras</p>
                              <p class="quote-classic-small">Regular Customer</p>
                            </div>
                          </div>
                          <div class="quote-classic-text">
                            <p>I just wanted to take the time and say I am very impressed with your online bidding site. I'm pleased I can create a watchlist and bid & delete lots out of it. Also, there’s no more scrolling to the bottom of every page just to place 1 bid.</p>
                          </div>
                        </article>
                      </div>
                      <div class="item">
                        <article class="quote-classic">
                          <div class="quote-classic-header"><img class="quote-classic-image" src="images/quote-user-1-210x210.jpg" alt="" width="210" height="210"/>
                            <div class="quote-classic-meta">
                              <p class="quote-classic-cite">James Smith</p>
                              <p class="quote-classic-small">Regular Customer</p>
                            </div>
                          </div>
                          <div class="quote-classic-text">
                            <p>On behalf of our company, I wanted to thank you for the exceptional service you provided us with selling some of our equipment and raising more money than we hoped. This was our first time using online auction, and everything went smoothly.</p>
                          </div>
                        </article>
                      </div>
                      <div class="item">
                        <article class="quote-classic">
                          <div class="quote-classic-header"><img class="quote-classic-image" src="images/quote-user-3-210x210.jpg" alt="" width="210" height="210"/>
                            <div class="quote-classic-meta">
                              <p class="quote-classic-cite">Jose Gutierrez</p>
                              <p class="quote-classic-small">Regular Customer</p>
                            </div>
                          </div>
                          <div class="quote-classic-text">
                            <p>I have never experienced such an easy procedure of placing a bid and selling products on your auction site. it’s very simple and at the same time very secure, and that’s what I like most about you. your website is reliable and safe for placing a bid.</p>
                          </div>
                        </article>
                      </div>
                    </div>
                    <div class="slider-widget-aside">
                      <div class="icon icon-lg-smaller mdi mdi-format-quote"></div>
                      <div class="slider-nav">
                        <button class="slick-prev mdi mdi-arrow-left-bold-circle" type="button" data-slick="slick-1"></button>
                        <button class="slick-next mdi mdi-arrow-right-bold-circle" type="button" data-slick="slick-1"></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cell-md-6 bg-additional-item">
              <div class="section-lg">
                <div class="shell-custom-inner shell-custom-inner-1 text-center">
                  <div class="range range-120">
                    <div class="cell-xs-6 cell-sm-3 cell-md-6">
                      <div class="counter-wrap"><span class="icon icon-secondary mdi mdi-television-guide"></span>
                        <div class="heading-3"><span class="counter" data-speed="1000">62000</span><span class="counter-preffix">+</span></div>
                        <p>Bids Placed</p>
                      </div>
                    </div>
                    <div class="cell-xs-6 cell-sm-3 cell-md-6">
                      <div class="counter-wrap"><span class="icon icon-secondary mdi mdi-account-multiple-outline"></span>
                        <div class="heading-3"><span class="counter" data-step="3000">246000</span></div>
                        <p>Happy Clients</p>
                      </div>
                    </div>
                    <div class="cell-xs-6 cell-sm-3 cell-md-6">
                      <div class="counter-wrap"><span class="icon icon-secondary mdi mdi-clock"></span>
                        <div class="heading-3"><span class="counter" data-step="3000">1200</span></div>
                        <p>Hours of Work</p>
                      </div>
                    </div>
                    <div class="cell-xs-6 cell-sm-3 cell-md-6">
                      <div class="counter-wrap"><span class="icon icon-secondary mdi mdi-code-tags"></span>
                        <div class="heading-3"><span class="counter" data-speed="3000">98</span><span class="counter-preffix">%</span></div>
                        <p>Positive Reviews</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <!-- Footer Alternative-->
      <footer class="section page-footer page-footer-alternative bg-gray-darker">
        <div class="shell-wide">
          <div class="range range-50 range-xs-center range-lg-justify">
            <div class="cell-sm-6 cell-lg-3">
              <h6>Twitter feed</h6>
              <div class="twitter" data-twitter-username="templatemonster">
                <div class="twitter-feed-minimal" data-twitter-type="tweet">
                  <div class="unit unit-xs-horizontal">
                    <div class="unit-left"><span class="mdi mdi-twitter twitter-icon icon-md-middle"></span></div>
                    <div class="unit-body">
                      <div class="twitter-feed-minimal-content" data-tweet="text"></div>
                      <time data-date="text" data-datetime="datetime" datetime="2017"></time>
                    </div>
                  </div>
                </div>
                <div class="twitter-feed-minimal" data-twitter-type="tweet">
                  <div class="unit unit-xs-horizontal">
                    <div class="unit-left"><span class="mdi mdi-twitter twitter-icon icon-md-middle"></span></div>
                    <div class="unit-body">
                      <div class="twitter-feed-minimal-content" data-tweet="text"></div>
                      <time data-date="text" data-datetime="datetime" datetime="2017"></time>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cell-sm-6 cell-lg-3">
              <h6>Instagram feed</h6>
              <div class="instafeed text-center" data-instafeed-user="25025320" data-instafeed-get="user" data-instafeed-sort="least-recent" data-lightgallery="group">
                <div class="range range-10 range-narrow">
                  <div class="cell-xxs-4" data-instafeed-item="">
                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="group-item" href="#" data-images-standard_resolution-url="href"><img class="instagram-image" src="images/_blank.png" alt="" data-images-standard_resolution-url="src"/></a>
                      <div class="caption"> 
                        <ul class="list-inline">
                          <li><span class="icon mdi mdi-heart"></span><span data-likes-count="text"></span></li>
                          <li><span class="icon mdi mdi-comment"></span><span data-comments-count="text"></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="cell-xxs-4" data-instafeed-item="">
                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="group-item" href="#" data-images-standard_resolution-url="href"><img class="instagram-image" src="images/_blank.png" alt="" data-images-standard_resolution-url="src"/></a>
                      <div class="caption"> 
                        <ul class="list-inline">
                          <li><span class="icon mdi mdi-heart"></span><span data-likes-count="text"></span></li>
                          <li><span class="icon mdi mdi-comment"></span><span data-comments-count="text"></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="cell-xxs-4" data-instafeed-item="">
                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="group-item" href="#" data-images-standard_resolution-url="href"><img class="instagram-image" src="images/_blank.png" alt="" data-images-standard_resolution-url="src"/></a>
                      <div class="caption"> 
                        <ul class="list-inline">
                          <li><span class="icon mdi mdi-heart"></span><span data-likes-count="text"></span></li>
                          <li><span class="icon mdi mdi-comment"></span><span data-comments-count="text"></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="cell-xxs-4" data-instafeed-item="">
                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="group-item" href="#" data-images-standard_resolution-url="href"><img class="instagram-image" src="images/_blank.png" alt="" data-images-standard_resolution-url="src"/></a>
                      <div class="caption"> 
                        <ul class="list-inline">
                          <li><span class="icon mdi mdi-heart"></span><span data-likes-count="text"></span></li>
                          <li><span class="icon mdi mdi-comment"></span><span data-comments-count="text"></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="cell-xxs-4" data-instafeed-item="">
                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="group-item" href="#" data-images-standard_resolution-url="href"><img class="instagram-image" src="images/_blank.png" alt="" data-images-standard_resolution-url="src"/></a>
                      <div class="caption"> 
                        <ul class="list-inline">
                          <li><span class="icon mdi mdi-heart"></span><span data-likes-count="text"></span></li>
                          <li><span class="icon mdi mdi-comment"></span><span data-comments-count="text"></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="cell-xxs-4" data-instafeed-item="">
                    <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="group-item" href="#" data-images-standard_resolution-url="href"><img class="instagram-image" src="images/_blank.png" alt="" data-images-standard_resolution-url="src"/></a>
                      <div class="caption"> 
                        <ul class="list-inline">
                          <li><span class="icon mdi mdi-heart"></span><span data-likes-count="text"></span></li>
                          <li><span class="icon mdi mdi-comment"></span><span data-comments-count="text"></span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cell-sm-6 cell-lg-3">
              <h6>Contact US</h6>
              <ul class="list-xs list-darker">
                <li class="box-inline"><span class="icon icon-md-smaller icon-primary mdi mdi-map-marker"></span>
                  <div><a href="#">2130 Fulton Street, Chicago,<br class="veil reveal-xl-block"/>&nbsp;
                      IL 94117-1080 USA</a></div>
                </li>
                <li class="box-inline"><span class="icon icon-md-smaller icon-primary mdi mdi-phone"></span>
                  <ul class="list-comma">
                    <li><a href="callto:#">1-800-1234-567</a></li>
                    <li><a href="callto:#">1-800-6780-345</a></li>
                  </ul>
                </li>
                <li class="box-inline"><span class="icon icon-md-smaller icon-primary mdi mdi-email-open"></span><a href="mailto:#">mail@demolink.org</a></li>
              </ul>
              <ul class="page-footer-icon-list social-icons-list">
                <li><a class="icon icon-sm-bigger icon-gray-light mdi mdi-facebook" href="#"></a></li>
                <li><a class="icon icon-sm-bigger icon-gray-light mdi mdi-twitter" href="#"></a></li>
                <li><a class="icon icon-sm-bigger icon-gray-light mdi mdi-instagram" href="#"></a></li>
                <li><a class="icon icon-sm-bigger icon-gray-light mdi mdi-google" href="#"></a></li>
                <li><a class="icon icon-sm-bigger icon-gray-light mdi mdi-linkedin" href="#"></a></li>
              </ul>
            </div>
            <div class="cell-sm-6 cell-lg-3">
              <h6>Newsletter</h6>
              <p class="text-spacing-sm">Keep up with our always upcoming product features and technologies. Enter your e-mail and subscribe to our newsletter.</p>
              <!-- RD Mailform: Subscribe-->
              <form class="rd-mailform rd-mailform-inline rd-mailform-sm" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                <div class="rd-mailform-inline-inner">
                  <div class="form-wrap">
                    <input class="form-input" type="email" name="email" data-constraints="@Email @Required" id="subscribe-form-email-2"/>
                    <label class="form-label" for="subscribe-form-email-2">Enter your e-mail</label>
                  </div>
                  <button class="button form-button button-sm button-secondary" type="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
          <div class="divider-xl"></div>
          <div class="range range-xs-middle range-30 text-left"> 
            <div class="cell-lg-6 text-lg-left">
              <ul class="page-footer-inline-list">
                <li><a href="about-us.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="shop-3-columns-layout.html">Shop</a></li>
                <li><a href="classic-blog.html">Blog</a></li>
                <li><a href="grid-gallery-outside-title.html">Portfolio</a></li>
                <li><a href="contacts.html">Contacts</a></li>
              </ul>
            </div>
            <div class="cell-lg-6 text-lg-right">
              <p class="right">&#169;&nbsp;<span class="copyright-year"></span> All Rights Reserved&nbsp;<a href="#">Terms of Use</a>&nbsp;and&nbsp;<a href="privacy-policy.html">Privacy Policy</a></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- PANEL-->
    <!-- END PANEL-->
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>