<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="kr.co.blueauction.mapper.bidMapper">

	<insert id="insert" parameterType="Bid">
		INSERT INTO BID (product_id,
		member_id,
		bidprice)
		VALUES (#{productId},
		#{memberId},
		#{bidprice})
	</insert>

	<select id="readByMemberId" parameterType="string" resultType="bid">
		Select *
		From bid
		WHERE member_id = #{value}
	</select>

	<select id="readByProductId" parameterType="int" resultType="bid">
		select *
		from bid
		where product_id = #{value}
		order by bidprice desc
	</select>

	<update id="update" parameterType="Bid">
		UPDATE bid
		SET winning = 'Y'
		where bid_no = #{bidNo}
	</update>

	<delete id="delete" parameterType="int">
		delete from BID
		where bid_id =
		#{value}
	</delete>

	<select id="bidList" parameterType="map" resultType="bid">
		select *
		from bid
		where member_id=#{memberId} and winning=#{winning}
	</select>
	
	<!--  해당 아이디의 가장 적은 시간 남은 경매 시간 조회 -->
	<select id="leastTime" parameterType="string" resultType="string">
	<![CDATA[ 
		SELECT p.auctionend auctionend 
		FROM   bid b 
		       JOIN product p 
		         ON b.product_id = p.product_id 
		WHERE  Now() < p.auctionend 
		       AND b.member_id = #{value} 
		GROUP  BY b.member_id 
		]]> 
	</select>
	
	<select id="winningList" resultType="bid">
	<![CDATA[ 
		SELECT b1.product_id productId, 
       b1.bidprice   bidprice, 
       b1.bid_id     bidId, 
       b1.member_id  memberId 
FROM   bid AS b1, 
       (SELECT product_id, 
               Max(bidprice) AS max_sort 
        FROM   bid 
        GROUP  BY product_id) AS b2,
        product AS p1
WHERE  b1.bidprice = b2.max_sort 
       AND b1.product_id = b2.product_id
       AND b1.product_id = p1.product_id
       AND TIMESTAMPDIFF(hour, p1.auctionend, now())<=0
       ]]> 
	</select>
	
	<update id="updateWinning" parameterType="map">
		update bid set winning='Y' where bid_id in
		<foreach collection="winningList" item="winner" separator="," open="(" close=")">
			#{winner.bidId}
		</foreach>
	</update>


</mapper>