<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="kr.co.blueauction.mapper.favoriteMapper">
	
	<insert id="insert" parameterType="Favorite">
		INSERT INTO favorite 
		            (member_id, 
		             product_id, 
		             regdate) 
		VALUES      (#{memberId}, 
		             #{productId}, 
		             now())
	</insert>
	
	<select id="readByMemberId" parameterType="string" resultType="Favorite">
		Select *
		From favorite
		WHERE member_id = #{value}
	</select>
	
	<select id="readByMemberProduct" parameterType="map" resultType="Favorite">
		Select *
		From favorite
		WHERE member_id = #{memberId} AND product_id = #{productId}
	</select>
	
	<select id="readByProductId" parameterType="int" resultType="Orders">
		select *
		from favorite
		where product_id = #{value}
	</select>
	
	<delete id="delete" parameterType="Favorite">
		DELETE FROM favorite 
		WHERE  product_id = #{productId} 
       		AND member_id = #{memberId}
	</delete>
	
	<!-- 관심경매 등록 여부 조회 -->
	<select id="favoriteCheck" parameterType="Favorite" resultType="Favorite">
		select *
		from favorite
		where member_id = #{memberId} and product_id = #{productId};
	</select>
</mapper>