<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="kr.co.blueauction.mapper.MemberMapper">

	<select id="getTime" resultType="string">
		select now()
	</select>
	
	<insert id="insertMember" parameterType="kr.co.blueauction.member.domain.Member">
		insert into member(memberId, passwd, name, zipcode, baseaddress, detailaddress, email, accountNumber, bank, phoneNumber) values(#{memberId}, #{passwd}, #{name}, #{zipcode}, #{baseaddress}, #{detailaddress}, #{email}, #{accountNumber}, #{bank}, #{phoneNumber})
	</insert>
	
	<select id="login" resultType="kr.co.blueauction.member.domain.Member">
		select memberId, passwd, name
		from member 
		where memberId=#{memberId} and passwd=#{passwd}
	</select>
	
	<select id="keepLogin">
	update member set sessionid=#{sessionid}, sessionLimit=#{next} where memberId=#{memberId}
	
	</select>
	
	<select id="checkUserWithSessionKey" resultType="kr.co.blueauction.member.domain.Member">
		select * from member where sessionid=#{sessionid} and sessionlimit > now()
	
	</select>
	

</mapper>